
<header ng-controller = "" id="banner">
  <div class="container">
    <div class="col-lg-6">
      <h1>Play with your cat when you are away</h1>
      <p class="lead">Controle a laser pointer from your phone or computer with live video display </p>

      <form class="form-inline" role="form">
        <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
      </form>
      <small>enter your email to see how you can join the revolution<small>
    </div>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container landing-page-panels">
  <div class="row centered">

    <div class="col-lg-4">

      <h4>1. Easy Setup</h4>
      <p>Get your lasrBox setup and ready to use in less than 5 minutes</p>
    </div>

    <div class="col-lg-4">
      <i class="fa fa-heart fa-5x"></i>
      <h4>2. Cats Love lasrBox</h4>
      <p>We all know cats love laser pointers, why should the fun stop when you leave the house. Now it doesnt have to, access lasrBox from wherever you are on your phone or computer</p>
    </div>

    <div class="col-lg-4">
      <h4>3. Health Benefits</h4>
      <p>Studies show, cats that are left alone for extended periods of time can become aggressive or reclusive</p>
    </div>

  </div>

</div>